<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Manage All Point Tables Here. </h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis
                faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Manage All Point Templates</h5>
            <div class="card-body">
                <form [formGroup]="pointTableValueRowForm" (ngSubmit)="onSubmitCreatePointTableForm()">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="inputText3" class="col-form-label">Template Code :</label>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <input id="inputText3" type="text" class="form-control" formControlName="templateName">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <button class="btn btn-success btn-sm" (click)="addItem($event)">Add Value</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" formArrayName="valueList"
                            *ngFor="let item of this.pointTableValueRowForm.controls['valueList'].value let i = index;">
                            <div [formGroupName]="i">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-8">
                                        <label for="inputText3" class="col-form-label">Template Code :</label>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-8">
                                        <label for="inputText3" class="col-form-label">Template Value :</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-8">
                                        <div class="form-group">
                                            <input id="inputText3" formControlName="name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-8">
                                        <div class="form-group">
                                            <input id="inputText3" formControlName="value" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-8">
                                        <button class="btn btn-danger btn-sm" (click)="removeFormControl(i)">Remove Value</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                           <input type="submit" class="btn btn-primary btn-sm" value="Add Template">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>