<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <!-- <a class="navbar-brand" href="index.html">Concept</a> -->
        <a href=""><img src="../../../assets/logo/logo.png" style="width: 70px; margin-left: 15px;" alt="">&nbsp; <span style="font-size: medium;">LION CLUB DASHBOARD</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="../../../assets/logo/db.png" alt=""
                            class="user-avatar-md rounded-circle"></a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                        aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name">{{ this.userObj.name }} </h5>
                            <span class="status"></span><span class="ml-2">{{ this.userObj.designation }}</span>
                        </div>
                        <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <!-- governer permission -->
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="this.governerPerm">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/home"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/app/user-management" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i
                                class="fa fa-fw fa-user-circle"></i>Section Management <span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-2" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-regions">Manage Regions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-zones">Manage Zones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-clubs">Manage Clubs</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/app/user-management" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>User Management <span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-chairpersons">Manage Chairpersons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-context-users">Manage Context Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-evaluators">Manage Evaluators</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/manage-club-users">Manage Club's Users</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/app/user-management" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i
                                class="fa fa-fw fa-user-circle"></i>Activity Management <span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-3" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/activity-main-category">Manage Main Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/activity-first-sub-category">First Sub Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/activity-second-sub-category">Second Sub Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#/app/activity">Activiteis</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/proof-documents"><i class="fa fa-fw fa-user-circle"></i>Proof Documents</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/point-tables"><i class="fa fa-fw fa-user-circle"></i>Point Table Management</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/gov-reports"><i class="fa fa-fw fa-user-circle"></i>Reports</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" (click)="onClickSignOut()"><i class="fa fa-fw fa-user-circle"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- club user permission -->
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="this.clubUserPerm">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/home"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/submit-activity"><i class="fa fa-fw fa-user-circle"></i>Activity Submision</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle" (click)="onClickSignOut()"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- context user permission -->
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="this.contextUserPerm">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/home"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/feed-data"><i class="fa fa-fw fa-user-circle"></i>View Data</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/feed-new-activity"><i class="fa fa-fw fa-user-circle"></i>Feed Data</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle" (click)="onClickSignOut()"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- evaluvator user permission -->
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="this.evaluvatorPerm">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/home"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/manage-lub-activities"><i class="fa fa-fw fa-user-circle"></i>Check Activities</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle" (click)="onClickSignOut()"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- region chairperson permissions -->
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="this.regionChairPersonPerm">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/home"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/region-info-list"><i class="fa fa-fw fa-user-circle"></i>Search Informations</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle" (click)="onClickSignOut()"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- zonal chairperson permissions -->
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="this.zonalChairPersonPerm">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/home"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/app/zonal-info-list"><i class="fa fa-fw fa-user-circle"></i>Search Informations</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle" (click)="onClickSignOut()"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>