<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Manage All Activity Second Sub categories Here. </h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Page Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Manage All Second Sub Categories</h5>
            <div class="card-body">
                <form [formGroup]="addsecondSubCategoryForm" (ngSubmit)="onSubmitCreateSecondSubCategoryForm()">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Code :</label>
                                <input id="inputText3" type="text" class="form-control" formControlName="code">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="input-select" class="col-form-label">Select First Sub Category</label>
                                <select class="form-control" id="input-select" formControlName="firstCategoryCode">
                                    <option value="{{ firstCategory.firstSubCategoryCode }}" *ngFor="let firstCategory of this.firstSubCategoryList">{{ this.firstCategory.categoryName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Name :</label>
                                <input id="inputText3" type="text" class="form-control" formControlName="categoryName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <input type="submit" class="btn btn-primary btn-sm" value="Add Category">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body border-top">
                <h3>List of Evaluvators</h3>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category Code</th>
                                        <th>Name</th>
                                        <th>First Category Code</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let eachCategory of this.secondSubCategoryList; index as i">
                                        <td>{{ i }}</td>
                                        <td>{{ eachCategory.secondSubCategoryCode }}</td>
                                        <td>{{ eachCategory.categoryName }}</td>
                                        <td>{{ eachCategory.firstSubCategoryCode }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#exampleModal" (click)="onLoadSecondCategoryInfo(eachCategory.secondSubCategoryCode)">Update</button>
                                            <button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="deleteSecondCategoryByCode(eachCategory.secondSubCategoryCode)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Category Code</th>
                                        <th>Name</th>
                                        <th>First Category Code</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model starts here -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="updateSecondCategoryForm"
              (ngSubmit)="onSubmitUpdateSecondCategoryForm()"
            >
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="inputText3" class="col-form-label"
                      >Code :</label
                    >
                    <input
                      id="inputText3"
                      type="text"
                      class="form-control"
                      formControlName="code"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="input-select" class="col-form-label"
                      >Select First Activity Category</label
                    >
                    <select
                      class="form-control"
                      id="input-select"
                      formControlName="firstCategoryCode"
                    >
                      <option
                        value="{{ category.firstSubCategoryCode }}"
                        *ngFor="let category of this.firstSubCategoryList"
                      >
                        {{ category.categoryName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="inputText3" class="col-form-label"
                      >Name :</label
                    >
                    <input
                      id="inputText3"
                      type="text"
                      class="form-control"
                      formControlName="categoryName"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer mt-3">
                <a href="#" class="btn btn-secondary" data-dismiss="modal"
                  >Close</a
                >
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="Save Changes"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- models ends here -->
</div>